---
const {content,url } = Astro.props;
const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
const formattedPublishDate = new Date(content.pubDate).toLocaleDateString("en-GB", dateOptions);
let postbgstyle="";
if(content.image){
    postbgstyle= "background-image: linear-gradient(to right, rgba(241,245,249,1) 4%,rgba(241,245,249,1) 75%,rgba(241,245,249,0) 100%),  url(" + content.image.url +")";
}
---
<div class="post" style={postbgstyle}>
    <h2 class="post-title"><a href={url}>{content.title}</a></h2>
    <div class="post-tags">
        <div class="post-info">Posted on {formattedPublishDate}</div>
        {content.tags.map((tag: string) => (
        <div class="tag"><a href={`/tags/${tag}`}>#{tag}</a></div>
        ))}
    </div>
    <div class="post-excerpt">{content.description}</div>
    <div class="read-nore"><a href={url}>Read more</a></div>
</div>