---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle, description, cssclass } = Astro.props;
let cc=cssclass
if (cc==undefined) {
  cc=""
}
const cssclassbody="content "+cc;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/avatar.png"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description}>
    <meta name="fediverse:creator" content="@xhiena@mastodon.social">
    <title>{pageTitle} | Pablo's Blog</title>
  </head>
  <body>
    <Header />
    <div class={cssclassbody} >
      <h1>{pageTitle}</h1>
      <slot />
    </div>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>