---
import { Picture } from 'astro:assets';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
const formattedPublishDate = new Date(frontmatter.pubDate).toLocaleDateString("en-GB", dateOptions);
---
<BaseLayout pageTitle={frontmatter.title} description={frontmatter.description} cssclass="postpage">
    <article class="article">
        <p class="post-date">Published on: {formattedPublishDate}</p>
        <div class="post-tags">
            &nbsp;In: {frontmatter.tags.map((tag: string) => (
            <div class="tag"><a href={`/tags/${tag}`}>#{tag}</a></div>
            ))}
        </div>
        {frontmatter.image && <Picture id="post-image" src={frontmatter.image.url} alt={frontmatter.image.alt} width="100" height="100" /> }
        <p>{frontmatter.description}</p>
        <slot />
    </article>
</BaseLayout>
